{% extends '::base.html.twig' %}
{% block title %}
    Cadastre-se{{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Cadastre-se</h1>
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
                {{ form_row(form.address) }}
                {{ form_row(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock%}