{% extends '::base.html.twig' %}

{% block title %}
    Catalogo{{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="{{ asset('bundles/mercicatalog/images/fem-oculos-2.jpg') }}" alt="Nome do Produto">
                    <div class="caption">
                        <h3>Nome do Produto</h3>
                        <p>Lorem ipsum dolorem...</p>
                        <p class="lead">R$ 100,00</p>
                        <p><a href="#" class="btn btn-primary btn-lg btn-block">Comprar</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="{{ asset('bundles/mercicatalog/images/fem-tenis-2.jpg') }}" alt="Nome do Produto">
                    <div class="caption">
                        <h3>Nome do Produto</h3>
                        <p>Lorem ipsum dolorem...</p>
                        <p class="lead">R$ 100,00</p>
                        <p><a href="#" class="btn btn-primary btn-lg btn-block">Comprar</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="{{ asset('bundles/mercicatalog/images/mas-bota-2.jpg') }}" alt="Nome do Produto">
                    <div class="caption">
                        <h3>Nome do Produto</h3>
                        <p>Lorem ipsum dolorem...</p>
                        <p class="lead">R$ 100,00</p>
                        <p><a href="#" class="btn btn-primary btn-lg btn-block">Comprar</a></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="{{ asset('bundles/mercicatalog/images/mas-mochila-2.jpg') }}" alt="Nome do Produto">
                    <div class="caption">
                        <h3>Nome do Produto</h3>
                        <p>Lorem ipsum dolorem...</p>
                        <p class="lead">R$ 100,00</p>
                        <p><a href="#" class="btn btn-primary btn-lg btn-block">Comprar</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
