{% extends '::base.html.twig' %}

{% block title %}
    Catalogo{{ parent() }}
{% endblock %}

{% block body %}
    {#<div class="container">
        <div class="row">
            <h2>Nome do Produto</h2>
            <div class="pull-left thumbnail">
                <img class="media-object" src="{{ asset('bundles/mercicatalog/images/fem-oculos-3.jpg') }}" alt="Nome do Produto" />
                <div class="media-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu iaculis dui. Pellentesque tincidunt, odio eget auctor iaculis, felis diam euismod metus, tempor ornare mauris diam eget sapien.
                </div>
                <h2>R$ 100,00</h2>
                <button type="button" class="btn btn-success">Colocar no Carrinho</button>
            </div>
        </div>
    </div>#}

    <div class="row">
        <div class="media col-md-9">
            <h2>{{ product.name }}</h2>
            <div class="pull-left thumbnail">
                <img class="media-object" src="{{ asset(product.imagePath) }}" alt="{{ product.name }}">
            </div>
            <div class="media-body">
                {{ product.description }}
            </div>
            <h2>R$ {{ product.price }}</h2>
            {#<button type="button" class="btn btn-success btn-lg">Colocar no Carrinho</button>#}
            <a href="{{ path('cart_add', {id: product.id}) }}" class="btn btn-success btn-lg">Colocar no Carrinho</a>
    </div>
    </div>

{% endblock %}